.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    z-index: 1;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button-line {
    width: 30px;
    height: 3px;
    background: rgb(210, 210, 210);
    transition: all 0.4s ease;
}

.toggle-button-line::before,
.toggle-button-line::after {
    display: flex;
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background: rgb(210, 210, 210);
    transition: all 0.4s ease;
}

.toggle-button-line::before {
    top: 16px;
}

.toggle-button-line::after {
    bottom: 16px;
}

.toggle-button-line-open::before,
.toggle-button-line-open::after {
    display: flex;
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background: rgb(210, 210, 210);
    transition: all 0.4s ease;
}

.toggle-button-line-open::before {
    transform: rotate(225deg);
}

.toggle-button-line-open::after {
    transform: rotate(315deg);
}
