.top-drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-drawer > div {
    background: rgba(24, 50, 34, 0.85);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.top-drawer > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vw;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.top-drawer > div > div > ul {
    padding: 0;
}

.top-drawer > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.top-drawer.open {
    visibility: visible;
}

.top-drawer.open > div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.top-drawer.open > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

@media (min-width: 769px) {
    .top-drawer {
        display: none;
    }
}