.card {
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
    margin: 15px;
    border: 10px solid rgb(210, 210, 210);
    max-width: 400px;
}

img {
    display: flex;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
