.icon {
    color: rgb(160, 160, 160);
    padding: 15px;
    transition: color .2s ease-in-out;
}

@media(hover: hover) and (pointer: fine) {
    .icon:hover {
        color: rgb(105, 205, 105);
        transition: color .2s ease-in-out;
    }
}