#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
            rgba(0, 10, 5, 0.8) 60%,
            rgba(105, 205, 105, 0.3)
        ),
        url("../../Images/background.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.container {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

.title {
    font-size: 60px;
    margin: 10px;
    color: rgb(105, 205, 105);
}

.subtitle {
    font-size: 26px;
    margin: 0;
    color: rgb(210, 210, 210);
}

.icons {
    padding-top: 15px;
}
